:root {
    --primary: #692bee;
    /* Main brand color */
    --secondary: #6c757d;
    /* breadcrumbs Background */
    --breadcrumbs-bg: #6f3cda;
    /* Secondary color */
    --accent: #ff6b6b;
    /* Accent color */
    --body-bg: #f8f9fa;
    /* Background */
    --header-bg: #8450f2;
    /* Top header */
    --link-color: var(--primary);
}

/* Dark mode support */
@media (prefers-color-scheme: dark) {
    :root {
        --primary: #6c8fc7;
        --body-bg: #212529;
        --header-bg: #1a1d20;
    }
}