{% load i18n %}
<button class="sticky toggle-nav-sidebar" id="toggle-nav-sidebar" aria-label="{% translate 'Toggle navigation' %}"></button>
<nav class="sticky" id="nav-sidebar" aria-label="{% translate 'Sidebar' %}">
  <div style="
      width: 100%;
      background-color: rgb(37, 56, 73);
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 5%;
    " id="parent-locale-dropdown">
    {% include 'admin/locale_toggle.html' %}
  </div>
  <input type="search" id="nav-filter" placeholder="{% translate 'Start typing to filter…' %}" aria-label="{% translate 'Filter navigation items' %}" />
  {% include 'admin/app_list.html' with app_list=available_apps show_changelinks=False %}
</nav>
