{% extends '../base.html' %}
{% load static %}
{% load i18n %}

{% block scripts %}
    <script src="{% static 'Logs/logIn.js' %}" defer></script>
{% endblock scripts %}

{% block content %}
    <div class="text-center">
        <video autoplay="true" id="video-element"></video>
    </div>

    <div id="img-element"></div>

    <div class="text-center mt-3">
        <button class="btn btn-primary" id="capture-btn">take photo</button>
        <button class="btn btn-info" id="reload-btn">reload</button>
    </div> 
{% endblock content %}