{% load static %}

<!-- CSS here -->
<link rel="stylesheet" href="{% static 'event_master/assets/css/bootstrap.min.css' %}" />
<link rel="stylesheet" href="{% static 'event_master/assets/css/owl.carousel.min.css' %}" />
<link rel="stylesheet" href="{% static 'event_master/assets/css/slicknav.css' %}" />
<link rel="stylesheet" href="{% static 'event_master/assets/css/flaticon.css' %}" />
<link rel="stylesheet" href="{% static 'event_master/assets/css/gijgo.css' %}" />
<link rel="stylesheet" href="{% static 'event_master/assets/css/animate.min.css' %}" />
<link rel="stylesheet" href="{% static 'event_master/assets/css/magnific-popup.css' %}" />
<link rel="stylesheet" href="{% static 'event_master/assets/css/fontawesome-all.min.css' %}" />
<link rel="stylesheet" href="{% static 'event_master/assets/css/themify-icons.css' %}" />
<link rel="stylesheet" href="{% static 'event_master/assets/css/slick.css' %}" />
<link rel="stylesheet" href="{% static 'event_master/assets/css/nice-select.css' %}" />
<link rel="stylesheet" href="{% static 'event_master/assets/css/style.css' %}" />
